     <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="mainNavBkgd"></div>
        <div id="wrapper">
            <div id="mainNav">
                <a href="#"><div id="bookmark">Yeah</div></a>
                <ul id="navList">
                    <li><a href="#">Favorites</a></li>
                    <li><a href="#">YeahBuddy</a></li>
                </ul>
                <img id="logo" src='@Url.Content("Images/assets/logo.png")'>
            </div>
            <div id="graph_container"></div>
            <div id="appliedFilters">
                <ul class="nav nav-pills">
                  <li class="active">
                    <a href="#">Home</a>
                  </li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">...</a></li>
                </ul>
            </div>
            <div id="filters">
                <label>Genre</label>
                <div class="input-prepend">
                    <span class="add-on"><a href="#" class="icon-ok" data-bind="click: filterClicked"></a></span>
                    <input class="span2" type="text" placeholder="Type something...">
                </div>
                <label>Author</label>
                <div class="input-prepend">
                    <span class="add-on"><a href="#" class="icon-ok" data-bind="click: filterClicked"></a></span>
                    <input class="span2" type="text" placeholder="Type something...">
                </div>
                <label>Title</label>
                <div class="input-prepend">
                    <span class="add-on"><a href="#" class="icon-ok" data-bind="click: filterClicked"></a></span>
                    <input class="span2" type="text" placeholder="Type something...">
                </div>
            </div>
            <div class="button" data-bind="click: toggleDrawer">></div> 
        </div>

	
	@section styles
	{
		<link rel="stylesheet" href='@Url.Content("~/Scripts/libs/bootstrap/css/bootstrap.min.css")'>
	}


	


	